.slider-info {
  display: flex;
  flex-direction: column;

  margin: 0.625em 0;

  width: 90%;
  height: fit-content;

  font-size: 0.875em;

  border: 0.125em solid white;

  color: white;

  * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  *:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
  }

  .info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.25em 0.5em;

    background-color: rgba($color: #00aa00, $alpha: 1);

    .info-addr {
      width: 75%;
    }
    .info-marker-ea {
      > span {
        margin: 0 0.25em;
      }
    }
  }

  .info-main {
    display: flex;
    flex-direction: column;

    padding: 0.25em 0.5em;

    background-color: rgba($color: #ff8822, $alpha: 1);

    * {
      width: 100%;
      padding: 0.075em;
    }

    .info-semi-addr {
      opacity: 50%;
    }
  }
}
