@import "views/scss/variables";
@import "views/scss/mixins/dialog";
@import "views/scss/mixins/setAttribute";

.photo-gather-component {
  @include dialogOutside();
  .photo-gather-main {
    @include setSize(100%, 100%);
    @include setBlank(null, 5em);
    overflow: scroll;
    box-sizing: border-box;
    > article {
      @include setBlank(0.625em 0);
      > header {
        @include setBlank(0.625em 0);
        @include setFont(1.25em, $main-color);
      }
      > main {
        @include setGrid(columns, repeat(6, 1fr), 0.625em);
        @media (min-width: 2048px) and (max-width: 4095px) {
          grid-template-columns: repeat(12, 1fr);
        }
        @media (min-width: 1440px) and (max-width: 2047px) {
          grid-template-columns: repeat(8, 1fr);
        }
        > article {
          @include setFlex(null, center, center);
          @include setSize(null, null, 1);
          overflow: hidden;
        }
      }
    }
  }
  .gather-close {
    @include setAbsolute(null, 16px, 16px, null);
    @include setFlex(null, center, center);
    @include setSize(56px, 56px);
    color: $default-color;
    border-radius: 50%;
    background-color: $sub-color;
    &:hover {
      cursor: pointer;
    }
  }
}
