.album-auto-info {
  > label {
    font-size: 0.75em;
    > span {
      color: red;
      text-shadow: 1px 1px 1px 1px white;
    }
  }
  > * {
    margin: 0.625em 0;
  }
  > header {
    display: flex;
    flex-direction: column;
  }
  > main {
    display: flex;
    flex-direction: column;
  }
  > footer {
    display: flex;
    flex-direction: column;
  }
  .info-header,
  .info-photo,
  .info-location,
  .info-address,
  .info-semi-address,
  .info-date,
  .info-footer {
    display: flex;
    flex-direction: column;
    margin: 0.125em 0;
  }
  .info-main {
    height: 100%;
    .info-main-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;

      .info-photo {
        width: 42.5%;
      }
      .info-location {
        width: 42.5%;
        > #location {
          aspect-ratio: 1;
          color: black;
          border: 2px solid black;
          border-radius: 10px;
          .marker-infowindow {
            .title {
              text-align: center;
            }
            .addr {
              text-align: center;
            }
          }
        }
      }
    }
    .info-main-bottom {
      display: flex;
      flex-direction: column;
    }
  }
}
