.album-auto-info {
  > label {
    font-size: 0.75em;
    > span {
      color: red;
      text-shadow: 1px 1px 1px 1px white;
    }
  }
  > * {
    margin: 0.625em 0;
  }
  > header {
    display: flex;
    flex-direction: column;

    > * {
      margin: 0.125em 0;
    }
    > .info-title {
      display: flex;
      flex-direction: column;
    }
    > .info-content {
      display: flex;
      flex-direction: column;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
  }
  > footer {
    display: flex;
    flex-direction: column;
  }
  .info-header,
  .info-photo,
  .info-location,
  .info-address,
  .info-semi-address,
  .info-date,
  .info-footer {
    display: flex;
    flex-direction: column;
    margin: 0.125em 0;
  }
  .info-main {
    height: 100%;
    .info-main-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;

      .info-photo {
        width: 42.5%;
      }
      .info-location {
        width: 42.5%;
        > .kakao-map-auto {
          aspect-ratio: 1;
          color: black;
          border: 2px solid white;
          border-radius: 10px;
          .place-addr {
            position: relative;
            padding: 0.5em;
            width: fit-content;
            height: fit-content;

            font-size: 0.875em;

            border: 1px solid black;
            background-color: rgba($color: white, $alpha: 1);
            > hr {
              margin: 0.125em;
            }
            .place-name {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.125em;
            }
          }
          .place-addr:before {
            content: "";
            position: absolute;
            margin-left: -0.875em;
            margin-bottom: calc(-0.875em - 1px);

            bottom: 0;
            left: 50%;

            width: 0;
            height: 0;

            border: 0.875em solid transparent;
            border-top-color: black;
            border-bottom: 0;
          }
          .place-addr:after {
            content: "";
            position: absolute;
            margin-left: -0.875em;
            margin-bottom: -0.875em;

            bottom: 0;
            left: 50%;

            width: 0;
            height: 0;

            border: 0.875em solid transparent;
            border-top-color: white;
            border-bottom: 0;
          }
        }
      }
    }
    .info-main-bottom {
      display: flex;
      flex-direction: column;
    }
  }
}
