.album-hand-info {
  > label {
    font-size: 0.75em;
    > span {
      color: red;
      text-shadow: 1px 1px 1px 1px white;
    }
  }
  > * {
    margin: 0.625em 0;
  }
  > header {
    display: flex;
    flex-direction: column;
  }
  > main {
    display: flex;
    flex-direction: column;
  }
  > footer {
    display: flex;
    flex-direction: column;
  }
  .info-header,
  .info-photo,
  .info-address,
  .info-semi-address,
  .info-date,
  .info-footer {
    display: flex;
    flex-direction: column;
    margin: 0.125em 0;
  }
  .info-main {
    height: 100%;

    margin: 0.25em 0;
    > section {
      margin: 0.25em 0;
    }
    .info-main-top {
    }
    .info-main-middle {
      .info-photo {
        width: 100%;
      }
    }
    .info-main-bottom {
      display: flex;
      flex-direction: column;
      .info-address-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        > button {
          width: 17.5%;
        }
      }
    }
  }
}
