.drag-auto-component {
  width: 100%;
  height: 100%;

  > input {
    display: none;
  }
  > label {
    display: flex;

    aspect-ratio: 1;
    overflow: hidden;

    border: 2px solid white;
    border-radius: 10px;
    > .photo-preview {
      aspect-ratio: 1;
      > article {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  .drop {
    cursor: pointer;
    transition: 0.12s ease-in;
  }
  .dragging {
    background-color: rgba($color: white, $alpha: 0.5);
    color: white;
  }
  ::-webkit-scrollbar {
    display: block;
  }
}

.drag-hand-component {
  width: 100%;
  height: 100%;

  .photo-preview {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;

    > article {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;

      border: 1px solid black;
      border-radius: 10px;
      > img {
      }
    }
    input {
      display: none;
    }
    label {
      width: 100%;
      aspect-ratio: 1;

      border: 2px solid black;
      border-radius: 10px;
    }
    .drop {
      cursor: pointer;
      transition: 0.12s ease-in;
    }
    .dragging {
      background-color: rgba($color: black, $alpha: 0.5);
      color: white;
    }
  }
  ::-webkit-scrollbar {
    display: block;
  }
}
