.roadaddress-component {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba($color: black, $alpha: 0.7);
  > article {
    padding: 1.25em;
    width: 30%;
    min-width: 340px;
    aspect-ratio: 1;
    background-color: rgba($color: #ff8822, $alpha: 1);
    .roadaddress-main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      padding: 1.25em;
      box-sizing: border-box;

      width: 100%;
      min-width: 300px;
      aspect-ratio: 1;
      background-color: rgba($color: #008000, $alpha: 1);
    }
  }
}
