@mixin commonOutsideBackground() {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba($color: black, $alpha: 0.7);
}
