@import "views/scss/variables";
@import "views/scss/mixins/setAttribute";

/* slider */
@mixin sliderInfo {
  cursor: pointer;
  @include setFlex(column);
  @include setSize(90%, fit-content);
  @include setBlank(0.625em 0);
  @include setFont(0.875em, white);
  @include setBorder(0.25em, 10px, white, ("top", "bottom"));
  overflow: hidden;

  article {
    @include setTextOverflow(1, 100%);
  }
  &:hover {
    article {
      white-space: normal;
      word-break: break-word;
    }
  }

  > header {
    @include setFlex(row, space-between, center);
    @include setSize(100%, fit-content);
    @include setBlank(null, 0.25em 0.5em);
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba($color: $sub-bright-color, $alpha: 1);
    [class$="addr"] {
      width: 85%;
    }
    [class$="photo"] {
      width: 15%;
      @include setFlex(row, space-between, center);
      @include setBlank(0 0.25em);
      > span {
        @include setTextOverflow(1, 100%);
        text-align: right;
      }
    }
  }
  > main {
    @include setFlex(column);
    @include setBlank(null, 0.25em 0.5em);
    overflow: hidden;
    background-color: rgba($color: $main-color, $alpha: 1);
    > article {
      @include setSize(100%, fit-content);
      @include setBlank(null, 0.075em);
    }
    [class$="date"] {
      @include setFont(null, black);
    }
    [class$="title"] {
    }
    [class$="address"] {
      @include setFont(null, black);
    }
  }
}

.slider-time {
  @include sliderInfo;
}

.slider-district {
  [class*="-city-"] {
    display: none;
    &.open {
      @include setFlex(column, center, center);
    }
  }
  [class*="-region-"] {
    display: none;
    &.open {
      @include sliderInfo;
    }
  }

  @include setSize(100%, fit-content);
  [class$="name"] {
    position: relative;
    @include setSize(100%, fit-content);
    @include setBlank(null, 0.5em);
    @include setFont(null, black);
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
    }
    aside {
      cursor: pointer;
      @include setAbsolute(0, 0, null, null);
      @include setFlex(null, center, center);
      @include setSize(null, 100%, 1);
      z-index: 1;
      color: white;
    }
  }
  .district-name {
    border-bottom: 2px solid white;
    background-color: $point-sub-deep-color;
  }
  .city-name {
    border-bottom: 1px solid white;
    background-color: $point-sub-bright-color;
  }
}
