.slider-district {
  width: 100%;
  [class$="name"] {
    padding: 0.5em;

    width: 100%;

    box-sizing: border-box;
  }
  [class$="name"]:hover {
    cursor: pointer;
  }
  > [class$="name"] {
    color: black;
    background-color: #2499ff;
  }
  [class^="slider-city"] {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > [class$="name"] {
      color: black;
      background-color: #61ccfe;
    }
  }
  [class^="slider-region"] {
    display: none;
  }
  .city-open {
    display: flex;
  }
  .region-open {
    display: flex;
  }
}
.slider-time,
[class^="slider-region"] {
  display: flex;
  flex-direction: column;

  margin: 0.625em 0;

  width: 90%;
  height: fit-content;

  font-size: 0.875em;

  border: 0.125em solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  color: white;

  * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  *:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
  }

  > [class$="header"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.25em 0.5em;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba($color: #00aa00, $alpha: 1);

    > [class$="addr"] {
      width: 75%;
    }
    > [class$="photo-ea"] > span {
      margin: 0 0.25em;
    }
  }

  [class$="main"] {
    display: flex;
    flex-direction: column;

    padding: 0.25em 0.5em;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba($color: #ff8822, $alpha: 1);

    * {
      width: 100%;
      padding: 0.075em;
    }

    [class$="addr"] {
      opacity: 50%;
    }
    [class$="semi-addr"] {
      color: black;
      opacity: 1;
    }
  }
}
