@import "views/scss/variables";
@import "views/scss/mixins/album";
@import "views/scss/mixins/dialog";
@import "views/scss/mixins/setAttribute";

/* album create */
.album-create-component {
  @include dialogOutside();
  > article {
    @include dialogBorder(45%, 85%);
    @include setMinSize(500px, 700px);
    color: white;
    .album-main {
      @include dialogInside(column, space-between, null);
      > header {
        @include setFlex(null, center, center);
        height: 10%;
        font-size: 2.125em;
      }
      > main {
        @include setSize(null, 80%);
        @include setBlank(null, 0 2.5em);
        overflow: scroll;
      }
      > footer {
        @include setSize(100%, 5%);
        @include setButtons(
          (
            "album-clear": $default-color,
            "album-preview": $main-bright-color,
            "album-add": $main-color,
          ),
          20%
        );
      }
    }
  }
}

/* album swiper */
.album-swiper-component {
  @include dialogOutside();
  > .swiper {
    @include setSize(30%, null);
    @include setMinSize(300px, 450px);
    @include setBlank(null, 5em);
    .swiper-wrapper {
      .swiper-slide {
        > article {
          @include view(100%, 100%);
          .album-view-main {
            @include viewMain();
          }
        }
      }
    }
  }
  aside {
    @include albumAside;
  }
}
