.app-component {
  position: relative;
  header {
    position: absolute;
    top: 0;
    right: 0;
    .app-home-buttom {
    }
    .app-album-button {
    }
  }
  .slider-open {
    transform: translate(0%, 0%);
  }
  .album-open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// nav
.slider-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;

  width: 30%;
  height: 100%;
  min-width: 350px;

  transform: translate(-85%, 0%);
  transition: 1s ease-in-out;

  .slider-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%;
    height: fit-content;
  }
  .slider-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85%;
    min-width: 300px;
    height: 100%;

    // opacity는 전체자식 상속, rgba는 현재 요소만 적용
    background-color: rgba($color: #ffffff, $alpha: 0.33);

    overflow: scroll;
  }
}

// dialog
aside {
  display: none;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba($color: black, $alpha: 0.5);
  .album-component {
    position: relative;

    width: 100%;
    height: 100%;
  }
}
