@import "views/scss/variables";
@import "views/scss/mixins/setAttribute";

.home-component {
  @include setFlex(column, space-between, center);
  @include setSize(100%, 100%);
  background-color: $point-sub-color;
  > header {
    height: 15%;
    > img {
      height: 100%;
    }
  }
  > main {
    @include setFlex(null, center, center);
    @include setSize(100%, 40%);
    @include setFont(1.25em, $point-color);
    > section {
      height: 100%;
    }
  }
  > footer {
    @include setFlex(row, space-between, center);
    @include setSize(100%, 45%);
    .welcome-imgs {
      @include setFlex(row, space-between, center);
      @include setSize(100%, 100%);
      > img {
        height: 100%;
      }
    }
  }
}

.login-component {
  @include setFlex(column, space-between, center);
  width: 100%;
  > header {
    @include setSize(100%, 85%);
    > .swiper {
      height: 100%;
      --swiper-theme-color: $point-color !important;
      > .swiper-wrapper {
        > .swiper-slide {
          width: 100%;
          > section {
            @include setFlex(null, center, center);
            @include setSize(90%, 100%);
            @include setBlank(auto);
            > img {
              width: 100%;
            }
          }
        }
      }
      > .swiper-pagination-horizontal {
        left: auto;
        top: auto;
        bottom: 0;
      }
    }
  }
  > main {
    @include setFlex(null, center, center);
    height: 10%;
    > img {
      cursor: pointer;
      height: 100%;
    }
  }
}

.login-success-component {
  @include setFlex(column, space-between, center);
  @include setSize(100%, null);
  > header {
    @include setFlex(column, space-around, center);
    @include setSize(100%, 85%);
    @include setFont(1.5em);
    > img {
      @include setSize(10%, null, 1);
    }
  }
  > main {
    cursor: pointer;
    @include setFlex(null, center, center);
    @include setSize(null, 10%);
    position: relative;
    > img {
      height: 100%;
    }
    > span {
      @include setFlex(null, center, center);
      @include setSize(null, 100%);
      @include setFont(0.75em);
      position: absolute;
    }
  }
}

.regist-component {
  @include setFlex(column, space-between, center);
  > header {
    @include setFlex(null, center, center);
    @include setSize(null, 15%);
    @include setFont(2.125em);
  }
  > main {
    @include setFlex(column, space-between, center);
    @include setSize(null, 70%);
    @include setBlank(null, 1.25em);

    box-sizing: border-box;
    border-radius: 25px;
    background-color: white;
    > header {
      height: 15%;
    }
    > main {
      @include setFlex(column, center, null);
      height: 60%;
      > article {
        @include setBlank(0.625em 0);
        @include setFont(null, black);
      }
    }
    > footer {
      @include setFlex(row, space-around, center);
      @include setSize(100%, 15%);
      @include setButtons(
        (
          "regist-rallback": $none-color,
          "regist-complete": $point-color,
        ),
        30%
      );
    }
  }
  > footer {
    @include setFlex(null, center, center);
    @include setSize(null, 5%);
    @include setFont(0.75em);
    color: rgba($color: $point-color, $alpha: 0.75);
  }
}
