@import "views/scss/mixins/addition";
@import "views/scss/mixins/setAttribute";

.map-component {
  .slider-open {
    transform: translate(0%, 0%);
  }

  @include setSize(100%, 100%);
  position: relative;
  overflow: hidden;
  .d3-component {
    background-color: $point-sub-color;
  }
}

.slider-component {
  @include setFlex(row, space-between, center);
  @include setSize(30%, 100%);
  @include setMinSize(350px);

  position: absolute;
  transform: translate(-86%, 0%);
  transition: 1s ease-in-out;

  .slider-button {
    cursor: pointer;
    @include setFlex(null, center, center);
    @include setSize(10%, null, 1);
    @include setBorder(null, 50%);
    @include setButtonANI(null, white, black);
    &:hover {
      @include setShadow("box");
    }
    > svg {
      @include setSize(100%, 100%);
      @include setBlank(null, 8px);
      box-sizing: border-box;
    }
  }
  .slider-main {
    position: relative;
    @include setFlex(column, flex-start, center);
    @include setSize(85%, 100%);
    @include setMinSize(300px);
    overflow: scroll;
    background-color: rgba($color: $default-color, $alpha: 0.3);
    .slider-exception {
      @include setAbsolute(50%, null, null, 0);
      transform: translate(0, -50%);
      @include setSize(100%, 30%);
      @include notify(10%, 50%);
      footer {
        @include setFlex(row, space-around, center);
        @include setSize(100%, 10%);
        @include setButtons(
          (
            "make-memory": $sub-color,
          ),
          50%
        );
      }
    }
  }
}
