@import "views/scss/mixins/addition";
@import "views/scss/mixins/setAttribute";

.map-component {
  .slider-open {
    transform: translate(0%, 0%);
  }

  @include setSize(100%, 100%);
  position: relative;
  overflow: hidden;
  .d3-component {
    background-color: $point-sub-color;
  }
}

.slider-component {
  @include setFlex(row, space-between, center);
  @include setSize(30%, 100%);
  @include setMinSize(350px);

  position: absolute;
  transform: translate(-86%, 0%);
  transition: 1s ease-in-out;

  .slider-button {
    @include setFlex(null, center, center);
    @include setSize(10%, fit-content);
  }
  .slider-main {
    @include setFlex(column, flex-start, center);
    @include setSize(85%, 100%);
    @include setMinSize(300px);
    overflow: scroll;
    background-color: rgba($color: $default-color, $alpha: 0.3);
    .slider-exception {
      @include setFlex(column, center, center);
      @include setSize(100%, 100%);
      > img {
        @include setSize(90%, null, 1);
      }
      main {
        @include setSize(null, 5%);
      }
      footer {
        @include setFlex(row, space-around, center);
        @include setSize(null, 5%);
        @include setButtons(
          (
            "make-memory": $sub-color,
          ),
          30%
        );
      }
    }
  }
}
