/* text */
$text-main-color: #eb898e;

/* modal */
$modal-main-color: #ff8822;
$modal-sub-color: #008000;

/* button */
$button-main-color: #ff8822;
$button-sub-color: #ffcc88;
$button-default-color: white;
