@import "views/scss/variables";
@import "views/scss/mixins/dialog";

.search-keyword-component {
  @include dialogOutside();
  > article {
    @media (min-width: 750px) {
      @include dialogBorder(null, null, 2/1);
      @include setFlex(row);
      @include setMinSize(750px, 750px);
    }
    @media (max-width: 749px) {
      @include dialogBorder(null, null, 1);
      @include setFlex(column);
      @include setMinSize(350px, 350px);
    }
    .search-keyword-main {
      @include dialogInside(column, center, center);
      > header {
        position: relative;
        @include setFlex(null, center, center);
        @include setSize(100%, 10%);
        @include setBlank(0 0 0.625em 0);
        > input {
          width: 50%;
        }
        > aside {
          @include setAbsolute(null, 0, null, null);
          @include setSize(20%, 100%);
          @include setButtons(
            (
              "keyword-search": $button-main-color,
            ),
            100%
          );
        }
      }
      > main {
        @include setSize(100%, 80%);
        .kakao-map-info {
          @include kakaoMap;
        }
      }
      > footer {
        @include setSize(100%, 10%);
        @include setBlank(0.625em 0 0 0);
        @include setButtons(
          (
            "keyword-select": $button-main-color,
          ),
          20%
        );
      }
    }
    .search-keyword-result {
      @include dialogInside(column, center, center);
      .keyword-list {
        @include setFlex(column);
        @include setSize(100%, 90%);
        @include setBlank(null, 0.625em);
        overflow: scroll;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: rgba($color: white, $alpha: 0.5);
        > section {
          @include setFlex(row, space-between, center);
          @include setSize(100%, fit-content);
          @include setBlank(0.125em 0);
          > input {
            width: 5%;
            opacity: 1;
          }
          > label {
            @include setFlex(row, space-between, center);
            @include setSize(90%, null);
            @include setBlank(0.25em 0);
            > header {
              @include setFlex(null, center, center);
              width: 5%;
              color: black;
            }
            > main {
              @include setFlex(column, center);
              width: 90%;
              > article {
                @include setTextOverflow;
              }
              [class$="name"] {
                color: black;
              }
              [class$="addr"] {
                color: white;
              }
              [class*="road"] {
                color: rgba($color: white, $alpha: 0.5);
              }
            }
          }
        }
      }
      .keyword-pagenation {
        @include setFlex(row, center, center);
        @include setSize(100%, 10%);
        @include setBlank(0.625em 0 0 0);
        .on {
          color: white;
        }
        button {
          cursor: pointer;
          @include setFlex(null, center, center);
          @include setFont(1em);
          border: none;
          background: none;
        }
      }
    }
  }
}
