@import "views/scss/variables";
@import "views/scss/mixins/setAttribute";

/* variables */
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

* {
  font-family: "BMJUA";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

/* element */
html,
#root,
body {
  @include setSize(100%, 100%);
  @include setBlank(0);
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  margin-bottom: 0.125em;
  color: $main-color;
  > span {
    margin-left: 0.5em;
    color: $point-bright-color;
  }
}

input,
textarea {
  @include setFont(1em, $default-color);
  line-height: 1.25em;
  margin-bottom: 0.25em;

  outline: 0;
  border-width: 0 0 2px;
  border-color: white;

  background: none;
}

input:read-only {
  color: rgba($color: $default-color, $alpha: 0.5);
}

textarea {
  resize: none;
}

/* component */
.highlight {
  color: $highlight;
}
.highlight-point {
  color: $point-color;
}
.highlight-behind {
  color: rgba($color: $highlight-behind, $alpha: 0.5);
}
.highlight-none {
  color: $highlight-none;
}

/* library : swiper */
body {
  --swiper-theme-color: white;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
.swiper-pagination-bullet {
  background-color: white;
  border: 1px solid white;
  opacity: 0.5;
  width: 13px;
  height: 13px;
}

/* library : d3 */

.path {
  fill: $sub-bright-color;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 1px;
  &:hover {
    cursor: pointer;
    fill-opacity: 1;
  }
}
.text {
  cursor: pointer;
  fill: white;
  fill-opacity: 0.5;
  &:hover {
    fill-opacity: 1;
  }
}
