@import "views/scss/variables";
@import "views/scss/mixins/setAttribute";

/* variables */
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");

  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "BMJUA";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

/* element */
html,
#root,
body {
  @include setSize(100%, 100%);
  @include setBlank(0);
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  margin-bottom: 0.125em;
  color: $main-color;
  > span {
    margin-left: 0.5em;
    color: $point-bright-color;
  }
}

input,
textarea {
  @include setFont(1em, $default-color);
  line-height: 1.25em;
  margin-bottom: 0.25em;

  outline: 0;
  border-width: 0 0 2px;
  border-color: white;

  background: none;
}

input:read-only {
  color: rgba($color: $default-color, $alpha: 0.5);
}

textarea {
  resize: none;
}

/* component */
.main-color {
  color: $main-color;
}
.highlight-behind {
  color: rgba($color: $highlight-behind, $alpha: 0.5);
}
.highlight-none {
  color: $highlight-none;
}

/* library */
.MuiBox-root {
  position: absolute;
  flex-grow: 1;

  bottom: 0;
  right: 0;

  transform: translateZ(0px);
}
.MuiSpeedDial-root {
  position: absolute;

  bottom: 16px;
  right: 16px;
  > button,
  > button:hover {
    background-color: #008000;
  }
}
