@import "views/scss/variables";
@import "views/scss/mixins/dialog";
@import "views/scss/mixins/button";
@import "views/scss/mixins/setAttribute";

.album-change-component {
  @include dialogOutside();
  > article {
    @include dialogBorder(null, null, null, 1.25em, 1.5/1);
    max-width: 500px;
    min-width: 500px;
    .album-change-main {
      @include dialogInside(column, space-around, center);
      > header {
        height: 75%;
        .photo-data-exception {
          @include dialogException();
        }
      }
      > footer {
        @include setSize(100%, 30%, null, null, null);
        @include buttonSelect(
          (
            "change-restart" $button-default-color,
            "change-picture" $button-sub-color,
            "change-write" $button-main-color
          ),
          2,
          30%
        );
      }
    }
  }
}
