@import "views/scss/variables";
@import "views/scss/mixins/setAttribute";

@mixin exception {
  font-size: 1.5em;
  > main {
    @include setFlex(null, center, center);
    height: 15%;
    > span {
      color: $text-highlight-color;
    }
  }
  > img {
    height: 85%;
  }
}

@mixin commonSwiper() {
  --swiper-theme-color: white;

  .swiper-pagination-bullet-active {
    opacity: 1 !important;
  }
  .swiper-pagination-bullet {
    background-color: white;
    border: 1px solid white;
    opacity: 0.5;
    width: 13px;
    height: 13px;
  }
}
