@import "views/scss/mixins/addition";
@import "views/scss/mixins/setAttribute";

@mixin album {
  color: white;
  [class$="addr"] {
    @include setFlex(row, left, center);
    @include setSize(100%, 100%);
    box-sizing: border-box;

    [class$="icon"] {
      @include setSize(5%, 100%);
      @include setBlank(0 0.75em 0 0);
    }
    [class$="info"] {
      @include setFlex(column, center, center);
      @include setSize(calc(85% - 1.5em), 100%);
      > article {
        @include setTextOverflow();
      }
    }
    @include closeButton("album");
  }
  [class$="photos"] {
    @include setSize(100%, 100%);
    > .swiper {
      @include setSize(100%, 100%);
      > .swiper-wrapper {
        > .swiper-slide {
          @include setFlex(null, center, center);
          @include setSize(100%, 100%);
          overflow: hidden;
        }
      }
    }
  }
  [class$="write"] {
    @include setFlex(column, flex-start, center);
    @include setSize(100%, null);
    color: black;
    [class$="info"] {
      @include setSize(100%, null);
      > article {
        margin: 0.125em 0;
      }
      [class$="title"] {
        @include setTextOverflow();
        float: left;
      }
      [class$="date"] {
        float: right;
      }
    }
    [class$="main"] {
      @include setSize(100%, null);
      [class$="content"] {
        @include setTextOverflow(3);
      }
    }
    > hr {
      @include setSize(100%, null);
      @include setBlank(0.375em 0);
      border: 1px solid #ff8822;
    }
  }
}

@mixin view($width, $height) {
  @include album;

  @include setFlex(column, center, center);
  @include setSize($width, $height);
  @include setMinSize(300px, 450px);

  @include viewDivision("top", "", #008000, 1);
  @include viewDivision("bottom", "", #ff8822, 1);
}

@mixin viewMain() {
  @include setFlex(column, space-between, center);
  @include setSize(100%, null, 1);

  @include viewDivision("top", "main", white, 0.5);
  @include viewDivision("bottom", "main", white, 0.5);
}

@mixin viewDivision($type, $element, $color, $alpha) {
  > [class$="#{$type}"] {
    @if $type == "top" {
      @include viewTop($element);
    } @else if $type == "bottom" {
      @include viewBottom($element);
    }

    box-sizing: border-box;
    background-color: rgba($color: $color, $alpha: $alpha);
  }
}

@mixin viewTop($component) {
  @if $component == "" {
    @include setFlex(null, null, center);
    @include setSize(100%, null);
    @include setBlank(null, 0.375em 0.75em);
  } @else if $component == "main" {
    @include setSize(100%, 100%);
    overflow: hidden;
    border-radius: 0.75em;
  }
}

@mixin viewBottom($component) {
  @if $component == "" {
    @include setFlex(null, null, center);
    @include setSize(100%, 90%);
    @include setBlank(null, 0.75em);
  } @else if $component == "main" {
    @include setSize(100%, null);
    @include setBlank(0.75em 0 0 0, 0.75em);
    border-radius: 0.75em;
  }
}
