@import "views/scss/mixins/addition";
@import "views/scss/mixins/setAttribute";

@mixin dialogOutside() {
  @include setAbsolute(0, null, null, 0);
  @include setFlex(null, center, center);
  @include setSize(100%, 100%, null, null, null);

  z-index: 2147483647;

  background-color: rgba($color: black, $alpha: 0.7);
}

@mixin dialogBorder($width, $height, $margin, $padding, $aspectRatio) {
  @include setFlex(null, center, center);
  @include setSize($width, $height, $margin, $padding, $aspectRatio);

  box-sizing: border-box;

  background-color: rgba($color: #ff8822, $alpha: 1);
}

@mixin dialogInside($flexDirection, $justifyContent, $alginItems) {
  @include setFlex($flexDirection, $justifyContent, $alginItems);
  @include setSize(100%, 100%, null, 1.25em, null);

  box-sizing: border-box;

  background-color: rgba($color: #008000, $alpha: 1);
}

@mixin dialogException() {
  @include setFlex(column, center, center);
  height: 100%;

  @include exception;
}
