@mixin setAbsolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin setFlex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin setSize($width, $height, $margin, $padding, $aspectRatio) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
  aspect-ratio: $aspectRatio;
}

@mixin setFont($fontSize, $fontWeight, $fontColor) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
}

@mixin setButton($line) {
  padding: 0.25em * $line 0.875em;

  border: 2px solid;
  border-radius: 10px;
  background-color: transparent;

  transition: 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

@mixin setButtons($buttons, $line, $width) {
  @include setFlex(row, space-around, center);

  > button {
    @if $line != 1 {
      @include setFlex(row, space-around, center);
    }
    @include setSize($width, null, null, null, null);
    @include setButton($line);
  }

  @each $name, $color in $buttons {
    .#{$name}-button {
      color: $color;
      border-color: $color;

      &:hover {
        color: black;
        background-color: rgba($color: $color, $alpha: 1);
      }
    }
  }
}
